@keyframes bodyAnimation {
    0%   {background-color: white;}
    2%   {background-color: #00a0dc;}
    25%  {background-color: #509916;}
    50%  {background-color: #f83e7f;}
    75%  {background-color: #fefa37;}
    100% {background-color: #f3f3f3;}
}

@keyframes logoAnimation{
    0%   {width: 500;}
    25%  {width: 500;}
    50%  {width: 500;}
    75%  {width: 500;}
    100% {width: 300;}
}

@keyframes presentingAnimation{
    0%   {padding-left: 50px;}
    25%  {padding-left: 50px;}
    50%  {padding-left: 50px;}
    75%  {padding-left: 50px;}
    100% {padding-left: 150px;}
}

@keyframes buttonAnimation{
    0%   {visibility: hidden;}
    25%  {visibility: hidden;}
    50%  {visibility: hidden;}
    75%  {visibility: hidden;}
    100% {visibility: visible;}
}

@keyframes menuAnimation{
    0%   {visibility: hidden;}
    25%  {visibility: hidden;}
    50%  {visibility: hidden;}
    75%  {visibility: hidden;}
    100% {visibility: visible;}
}

body {
    background-color: #f3f3f3;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
    padding: 0;
    animation-name: bodyAnimation;
    animation-duration: 4s;
    overflow: hidden;
}

#container {
    margin: 0 auto;
    margin-bottom: 0;
    padding: 0;
    width: 600;
    height: 99%;
    border-radius: 10px;
}

/* ################## TOP ################# */

#presenting {
    padding-left: 150px;
    padding-bottom: 15;
    width: auto;
    height: auto;
    text-align: justify;
    vertical-align: middle;
    animation-name: presentingAnimation;
    animation-duration: 4s;
}

#presenting a {
    text-decoration: none;
    vertical-align: middle;
}

#logo {
    display: inline-block;
    text-decoration: none;
    width: 500px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    animation-name: logoAnimation;
    animation-duration: 4s;
}

.gotoButton {
    display: inline-block;
    height: 80px;
    width: 300px;
    background-color: #42157c;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 0 3px 2px white;
    padding: 0;
    animation-name: buttonAnimation;
    animation-duration: 4s;
}

.gotoButton .material-icons {
    color: white;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 5px;
}

.gotoButton h3 {
    display: inline-block;
    font: 25px 'Raleway', sans-serif;
    color: white;
    margin-top: 26px;
    position: absolute;
}

.gotoButton:hover {
    background-color: #ff5500;
}

#simulate {
    margin-bottom: 30px;
}

#simulate .material-icons {
    margin-left: 15px;
}

#visualize {
    margin-bottom: 30px;
}

#visualize .material-icons {
    margin-right: -5;
    margin-left: 2;
}

#download .material-icons {
    margin-left: 40px;
}


/* ################## SECOND PART ################# */

#menu {
    font: 20px 'Poiret One', sans-serif;
    color: #999;
    position: absolute;
    text-align: center;
    bottom: 10;
    width: inherit;
    animation-name: menuAnimation;
    animation-duration: 4s;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    text-decoration: underline;
    color: #ff5500;
}
