/* poiret-one-regular - latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url('woff2/poiret-one-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poiret One'), local('PoiretOne-Regular'),
       url('woff2/poiret-one-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('woff2/poiret-one-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('woff2/poiret-one-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('woff2/poiret-one-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('woff2/poiret-one-v4-latin-regular.svg#PoiretOne') format('svg'); /* Legacy iOS */
}
